<div class="modal-header">
    <h3 class="modal-title text-center">Build History <i class="fa fa-times-circle pull-right clickable-danger text-danger" ng-click="cancel()"></i></h3>
</div>
<div class="modal-body">
	<h4 class="text-center" ng-if="history.saves.length === 0">No Saved Builds!</h4>
	<table class="table" ng-if="history.saves.length > 0">
    	<thead>
            <th>Actions</th>
        	<th>Name</th>
        	<th>Level</th>
        	<th>Specialization</th>
        </thead>
        <tbody>
        	<tr ng-repeat="save in history.saves">
                <td class="col-md-3">
                   <span tooltip="Copy Link"> <i class="fa fa-fw fa-lg fa-copy    clickable-success"  clip-copy="getLink(save)">      </i></span>
                   <span tooltip="Delete">    <i class="fa fa-fw fa-lg fa-trash-o clickable-danger"   ng-click="deleteSave(save)">        </i></span>
                   <span tooltip="View">      <i class="fa fa-fw fa-lg fa-search  clickable-primary"  ng-click="redirect(save)">      </i></span>
                   <span tooltip="Edit Name"> <i class="fa fa-fw fa-lg fa-edit    clickable-info"     ng-click="$parent.edit = !$parent.edit">    </i></span>
                </td>
            	<td class="col-md-4">
                    <input class="form-control" type="text" ng-model="save.name" ng-show="edit" ng-change="submit()" ng-blur="edit = !edit"/>
                    <span ng-hide="edit" ng-click="edit = !edit">{{save.name}}</span>
                </td>
                <td class="col-md-1">{{save.level}}</td>
                <td class="col-md-4">{{save.spec}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="cancel()">Close</button>
</div>